<div style="margin: 2.5rem; display: flex; flex: row; gap: 10px">
  <pre>tone test</pre>
  <button (click)="helloTone()">Hello Tone</button>
  <button (click)="toneSynth()">Tone.Synth</button>
  <button (click)="toneTransport()">Tone.Transport</button>
  <button (click)="toneInstruments()">Tone.Instruments</button>
  <button (click)="toneSamples()">Tone.Samples</button>
  <button (click)="toneSampler()">Tone.Sampler</button>
  <button (click)="toneEffects()">Tone.Effects</button>
  <button (click)="toneSignals()">Tone.Signals</button>
</div>
