<div style="margin: 2.5rem; display: flex; flex: row; gap: 10px">
  <button (click)="toneTransportLoop()">
    .transport loop: {{ targetBpm() }}, {{ targetDuration() }}
  </button>
  <button (click)="helloTone()">Hello.Tone</button>
  <button (click)="toneSynth()">Tone.synth</button>
  <button (click)="toneTransport()">.transport</button>
  <button (click)="toneInstruments()">.instruments</button>
  <button (click)="toneSamples()">.samples</button>
  <button (click)="toneSampler()">.sampler</button>
  <button (click)="toneEffects()">.effects</button>
  <button (click)="toneSignals()">.signals</button>
</div>
