<div style="margin-left: 2.5rem">
  <p>Natysnitj na bilomu poli dva čy biljše raziv.</p>
</div>
<div class="controls" style="margin-left: 2.5rem">
  <mat-slider
    min="0"
    [max]="IC.padAngleMax"
    step="0.01"
    discrete
    style="width: 500px"
  >
    <input matSliderThumb [(ngModel)]="padAngle" />
  </mat-slider>
  <input
    matInput
    type="text"
    [ngModel]="padAngle"
    style="width: 32px; margin-right: 12px"
  />
  <button (click)="toggleLine()" style="margin-right: 12px">
    pokazuvaty liniju
  </button>
  <button (click)="toggleBgStyle()" style="margin-right: 12px">
    kolir fonu
  </button>
  @if (showSettings) {
  <!-- <app-flowerinput /> -->
  }
</div>
<div class="controls">
  <app-get-ordinal />
</div>
<figure id="tonecircus"></figure>
<div style="margin: 2.5rem">
  <p>KOLIR – NOTA</p>
  <pre>
•⁠ čornyй — do - #151210
•⁠ červonyй – do# - #9F352B
•⁠ pomarančevyй – re - #C18A2F
•⁠ žovtyй – re# - #D1B170 (?)
•⁠ zelenyй – mi - #366C2C
•⁠ blakytnyй – fa - #4D86B3
•⁠ syniй – fa# - #214A83, #163063
•⁠ fioletovyй – solj - #554062
•⁠ zolotyй – solj# - #BE9C5C
•⁠ perlynovyй – lja - #C2C0B1
•⁠ sribnyй – lja# - #B1B1AA
•⁠ bilyй – si - #B7B9B4
- korycnevyй - #865D2E
</pre
  >
  <p>Dali</p>
  <pre>
- nalaštuvannja koljoriv
- kulja - obʼjekt, ščo nese na sobi parametry i zvuku takoje (častota, gučnitj, dovžyna)
- mitka vysoty i potočnoji gučnosti na kuli
- pry zitknenni menšyj ne zvučytj
- zaležnistj gučnosti vid rozmiru
- pry zitknenni menšyj rozdiljajetjsja
- <a [routerLink]="['tonetest']">tone test</a>, <a [routerLink]="['../']">sound flow</a>
</pre>
  <app-abetka></app-abetka>
</div>
