.flow-header-controls {
  margin: 0 2.75rem;
  display: flex;
  align-items: center;

  button {
    height: 24px;
    border: 1px solid #c0c0d8 !important;
    background: #eef !important;
    border-radius: 3px;
  }
}

.flow-header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.controls {
  margin-left: 2.5rem;
  display: flex;
  gap: 1rem;
}

.midwrap {
  margin-right: 0.5rem;
}

.bushcont {
  width: 50%;
  min-width: 300px;
  &.left {
    margin-left: -1.5rem;
  }
  &.right {
    margin-left: -2rem;
  }
}

.bushwrap {
  .bush-wrap {
    box-shadow: 0.5rem 0.5rem 2rem #cccccc;
    border: 1px solid #eeeeee;
  }
}
