<div style="margin-left: 2.5rem">
  <p>Natysnitj na bilomu poli dva čy biljše raziv.</p>
</div>
<div class="controls" style="margin-left: 2.5rem">
  <mat-slider
    min="0"
    [max]="IC.padAngleMax"
    step="0.01"
    discrete
    style="width: 500px"
  >
    <input
      matSliderThumb
      [(ngModel)]="padAngle"
      (ngModelChange)="redrawBush()"
    />
  </mat-slider>
  <input
    matInput
    type="text"
    [ngModel]="padAngle"
    (ngModelChange)="redrawBush()"
    (input)="setPadAngle($event)"
    style="width: 48px; margin-right: 12px"
  />
  <button (click)="toggleLine()" style="margin-right: 12px">
    pokazuvaty liniju
  </button>
  <button (click)="toggleBgStyle()" style="margin-right: 12px">
    kolir fonu
  </button>
</div>
<div class="flex-row ml-1">
  @if (showSettings) {
  <app-idn-list (onIdnUpdate)="redrawBush()" />
  }
  <div class="bushcont"><figure id="bushwrap"></figure></div>
  <app-get-ordinal (onBushUpdate)="updateBush($event)" />
</div>

<div style="margin: 2.5rem">
  <app-abetka></app-abetka>
</div>
