<div class="matrix-wrap">
    <div class="enabled-audio">CLICK TO RUN AUDIO</div>
    <div>
        <canvas id="matrix"></canvas>
        <footer>
            <div>

                <button id="link">Copy Link</button>
                <button id="studio">Open Audiotool Studio</button>
            </div>
            <small>Ported to Angular Module from original implementaion by Andre Michelle in pure ts: <a href="https://andremichelle.github.io/tonematrix/">andremichelle.github.io/tonematrix</a></small>
        </footer>
    </div>
</div>