<div class="section">
  <!-- Kolir -->
  <p>Kolir: {{ idn.color }} Chyslo: {{ idn.ordinal }} Nota: {{ idn.note }}</p>
  <!-- <mat-form-field>
    <mat-label>Kolir</mat-label>
    <input matInput placeholder="Kolir" [(ngModel)]="idn.color" disabled />
    <mat-icon matSuffix></mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field> -->

  <!-- Cardinal -->
  <!-- <mat-form-field>
    <mat-label>Chyslo</mat-label>
    <input matInput placeholder="" [(ngModel)]="idn.ordinal" disabled />
    <mat-icon matSuffix></mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field> -->

  <!-- Nota -->
  <!-- <mat-form-field>
    <mat-label>Nota</mat-label>
    <input matInput placeholder="" [(ngModel)]="idn.note" disabled />
    <mat-icon matSuffix></mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field> -->

  <!-- Color Hex -->
  <!-- <mat-form-field>
    <mat-label>Kod Koljoru</mat-label>
    <input matInput placeholder="" [(ngModel)]="idn.colorHex" disabled />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field> -->
  <!-- <pre>!{{ JSON.stringify(idn, null, 2) }}</pre> -->
</div>
