.section {
  gap: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kolir {
  width: 5rem;
}

.kolirHex {
  width: 2rem;
}

.nota {
  width: auto;
}

.chyslo {
  font-weight: bold;
  width: 1rem;
  margin-left: 0.25rem;
  text-align: right;
}

.color-picker {
  height: 2rem;
  width: 2rem;
}
