<div class="section">
  <!-- Kolir -->
  @if (idn) {
  <div class="flex-row gap-1">
    <div class="chyslo">{{ idn.ordinal }}</div>
    <div class="kolirHex" [style]="'background-color: ' + idn.colorHex"></div>
    <div class="flex-row kolir">{{ idn.color }}</div>
    <div class="nota">Nota: {{ idn.note }}</div>
  </div>
  }
  <!-- <mat-form-field>
    <mat-label>Kolir</mat-label>
    <input matInput placeholder="Kolir" [(ngModel)]="idn.color" disabled />
    <mat-icon matSuffix></mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field> -->

  <!-- Cardinal -->
  <!-- <mat-form-field>
    <mat-label>Chyslo</mat-label>
    <input matInput placeholder="" [(ngModel)]="idn.ordinal" disabled />
    <mat-icon matSuffix></mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field> -->

  <!-- Nota -->
  <!-- <mat-form-field>
    <mat-label>Nota</mat-label>
    <input matInput placeholder="" [(ngModel)]="idn.note" disabled />
    <mat-icon matSuffix></mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field> -->

  <!-- Color Hex -->
  <!-- <mat-form-field>
    <mat-label>Kod Koljoru</mat-label>
    <input matInput placeholder="" [(ngModel)]="idn.colorHex" disabled />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field> -->
  <!-- <pre>!{{ JSON.stringify(idn, null, 2) }}</pre> -->
</div>
