.section {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kolir {
  width: 7rem;
  padding: 6px;
  text-align: center;
  vertical-align: center;
}

.kolirHex {
  width: 3rem;
}

.nota {
  width: 5rem;
}

.chyslo {
  font-weight: bold;
  width: 2rem;
  text-align: right;
}

.color-picker {
  height: 3rem;
}
