:host {
  display: block;

  .open-button {
    display: block;
  }

  ::ng-deep .row {
    display: flex;
    justify-content: space-between;

    &>* {
      display: block;
    }
  }

  .gene-wrapper {
    padding: 32px;
  }

  .generator-cards {
    >div {
      padding-right: 32px;
      padding-bottom: 32px;
    }
  }
  .poetry {
    flex-grow: 2;
  }
}
