<div class="gene-wrapper">
  <div class="generator-cards">
    <div class="row">
      <app-poetry class="poetry" #poetry></app-poetry>
      <div class="panel">
        <app-audio *ngIf="!!generatorState.audio[0].enabled; else setAudio1" [audio]="generatorState.audio[0]"
          [name]="'kick'" (beat)=poetry.poetryBeat($event)></app-audio>
        <app-audio *ngIf="!!generatorState.audio[1].enabled; else setAudio2" [audio]="generatorState.audio[1]"
          [name]="'speech1'" (beat)=poetry.poetryBeat($event)></app-audio>
        <app-audio *ngIf="!!generatorState.audio[2].enabled; else setAudio3" [audio]="generatorState.audio[2]"
          [name]="'speech2'" (beat)=poetry.poetryBeat($event)></app-audio>
      </div>
    </div>
    <!-- TODO Move to the new home -->
    <!--
    <div>
      <app-poetry-x></app-poetry-x>
    </div>
    -->
    <!-- TODO Move to the new home -->
    <!-- 
    <div>
      <app-c-news></app-c-news>
    </div>
    -->
  </div>
</div>

<ng-template #setAudio1>
  <button mat-button (click)="open(generatorState.audio[0])" class="open-button">
    <mat-icon>audiotrack</mat-icon>
  </button>
</ng-template>

<ng-template #setAudio2>
  <button mat-button (click)="open(generatorState.audio[1])" class="open-button">
    <mat-icon>audiotrack</mat-icon>
  </button>
</ng-template>

<ng-template #setAudio3>
  <button mat-button (click)="open(generatorState.audio[2])" class="open-button">
    <mat-icon>audiotrack</mat-icon>
  </button>
</ng-template>