:host {
  display: block;

  .open-button {
    display: grid;
    grid-template-columns: auto 40px;
    // border-bottom: 1px dashed #cccccc;

    .mat-icon-button {
      grid-column: 2;
    }
  }

  ::ng-deep .row {
    display: flex;
    justify-content: space-between;

    &>* {
      display: block;
    }
  }

  .gene-wrapper {
    padding: 32px;
  }

  .generator-cards {
    >div {
      padding-bottom: 32px;
    }
  }
  .poetry {
    flex-grow: 2;
  }
  .panels {
    border-top: 1px dotted #cccccc;
  }
}
