:host {
    flex: auto;
    margin: 1em;
    display: block;
}

.latynize-full-width {
    min-width: 320px;
    display: block;
}

.latynize-full-width .mat-input-element {
    min-height: 100px;
}

h2 {
    margin: 1rem 0 1rem 0;
}

.copy-button {
    padding: .2rem;
    font-weight: normal;
}

.replacements {
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
    
    .r-row {
        flex: 3 3 100px;
        padding: 0.25rem 0 0.25rem 0.5rem;
        font-size: 1.2rem;
        border-radius: .5rem;
        background-color: #eee;

        .character {
            font-weight: bold;
            width: 1.2rem;
            display: inline-block;
            text-align: center;
            color: #333;
        }

        .arrow {
            color: #777;
            width: 2.5rem;
            display: inline-block;
            text-align: center;
        }

        .replacement {
            font-size: 1.2rem;
            font-weight: bold;
            width: 1.5rem;
            display: inline-block;
            text-align: center;
            padding: .2rem;
            border: 1px solid #777;
            border-radius: 4px;
        }
    }
}