<div>
  <h1>
    Latynizator
  </h1>
  <form class="latynize-form" [formGroup]="latForm">
    <mat-form-field class="latynize-full-width" appearance="fill">
      <mat-label>Vvedit' tekst ukraїns'koju</mat-label>
      <textarea formControlName="text" matInput placeholder="Місце для тексту..."></textarea>
    </mat-form-field>
  </form>
  <h2>
    Pereklad uvedenogo tekstu ukraїns'koju latynkoju:
  </h2>
  <p class="output">{{ output }}</p>
  <button class="copy-button" mat-raised-button (click)="copyToClipboard($event)">Skopijuvaty</button>
</div>