<div>
  <h1>Latynizator</h1>
  <form class="latynize-form" [formGroup]="latForm">
    <mat-form-field class="latynize-full-width" appearance="fill">
      <mat-label>Uveditj tekst ukraїnsjkoju</mat-label>
      <textarea
        formControlName="text"
        matInput
        placeholder="Місце для тексту..."
      ></textarea>
    </mat-form-field>
  </form>
  <h2><span>Tekst ukraїnsjkoju latynkoju:</span>&nbsp;<button
    class="copy-button"
    mat-raised-button
    (click)="copyToClipboard($event)"
  >Skopijuvaty</button></h2>
  <p class="output">{{ output }}</p>
  <button mat-raised-button (click)="switchDirection()">Revers</button>
  <hr />
  <h2><span>Tablycja zamin:</span>&nbsp;<button
    class="copy-button"
    mat-raised-button
    (click)="replacementsToClipboard($event)"
  >Skopijuvaty Zaminy</button></h2>
  <div class="replacements">
    <div
      *ngFor="let entry of replacements; let i = index"
      class="r-row"
    >
      <span class="character">{{ entry[0] }}</span
      ><span class="arrow">→</span>
      <input
        class="replacement"
        type="text"
        [value]="entry[1]"
        (input)="updateReplacement($event, i)"
      />
    </div>
  </div>
</div>
