:host {
  display: block;
  padding: 0 0 10px 10px;
  margin-left: 10px;
  background-color: #cecaa5;
  border-radius: 6px;
  margin-bottom: 10px;

  .title {
    align-items: center;
    font-size: 14px;
    margin-bottom: -10px;
    margin-top: -4px;
  }

  .name {
    color: #777777;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .close-button {
    font-size: 10px;
    .mat-icon {
      width: 8px;
      height: 26px;
      font-size: 17px;
      color: #444;
    }
  }

  .controls {
    display: grid;
    grid-template-columns: 40px auto;
  }

  mat-slider {
    margin-right: 16px;
    position: relative;
    top: 10px;
  }

  .play,
  .stop {
    font-size: 40px;
    margin-right: 20px;
  }

  .samples {
    margin-right: 10px;
    .sample-button {
      padding-left: 1px;
      border-radius: 4px;
      box-shadow: 0px 0px 1px 0px #00000040;
      text-align: left;
      font-size: 0.75rem;
      font-weight: 400;
      color: #333;
      line-height: initial;
      background-color: adjust-color($color: #000000, $hue: 0, $saturation: 0%, $lightness: 98%, $alpha: 1.0);
    }
    .sample-button:hover {
      background-color: adjust-color($color: #000000, $hue: 0, $saturation: 0%, $lightness: 100%, $alpha: 1.0);
    }
  }

  .grid-row {
    justify-self: stretch;
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 25px 25px 25px;
    column-gap: 3px;
    row-gap: 6px;

    // grid-template-columns: repeat(auto-fill, minmax(1rem, 1fr));
    
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    
    // grid-gap: 0.5rem 3.8rem;
    /* This is the standardized property now, but has slightly less support */
    /* gap: 1rem */
  }

}