<div>
  <mat-slider min="400" max="2000" [step]="10" [thumbLabel]="true" (change)="setControlValue($event)"></mat-slider>
  
  <div>{{sampleFreq}}ms.</div>
  
  <button mat-button color="primary" *ngFor="let sampleName of sampleNames" [disabled]="loadingSample" (click)="playLoop(sampleName)">
    <mat-icon>play_arrow</mat-icon>{{sampleName}}
  </button>
  
  <div>
    <button mat-button color="accent" [disabled]="loadingSample" (click)="stopLoop('')" class="stop"><mat-icon inline="true">stop</mat-icon></button>
  </div>
  
</div>

<!-- <div>
  <button mat-button [disabled]="loadingSample" (click)="playMinus('minus')">
    Overcrowd Minus
  </button>
</div> -->

<!-- <div>
  <h4>Binaural, frequency {{binauralFreq}}Hz</h4>
  <button mat-button *ngFor="let sampleName of sampleNames" [disabled]="loadingSample" (click)="playBinaural(sampleName, r(20), 20)">
    {{sampleName}}
  </button>  
</div> -->  
