:host {
  display: block;
  width: 200px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #eaeaea;
  padding: 0 0 10px 10px;

  .title {
    align-items: center;
    font-size: 16px;
  }

  .close-button {
    font-size: 10px;
  }

  mat-slider {
    max-width: 200px;
  }

  .play,
  .stop {
    font-size: 40px;
    margin-right: 20px;
  }

  .samples {
    .sample-button {
      border-radius: 2px;
      box-shadow: 1px 1px 1px 1px #00000040;
      padding: 0 95px 0 2px;
      font-size: 0.75rem;
      font-weight: 400;
      color: #333;
      line-height: initial;
      background-color: adjust-color($color: #000000, $hue: 0, $saturation: 0%, $lightness: 98%, $alpha: 1.0);
    }
    .sample-button:hover {
      background-color: adjust-color($color: #000000, $hue: 0, $saturation: 0%, $lightness: 90%, $alpha: 1.0);
    }
  }

  .grid-row {
    justify-self: stretch;
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 25px 25px 25px 25px;

    // grid-template-columns: repeat(auto-fill, minmax(1rem, 1fr));
    
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    
    // grid-gap: 0.5rem 3.8rem;
    /* This is the standardized property now, but has slightly less support */
    /* gap: 1rem */
  }

}