<div>
  <button mat-button [disabled]="loadingSample" (click)="playMinus('minus')">
    Overcrowd Minus
  </button>
</div>

<div>
    
  <button mat-button *ngFor="let sampleName of sampleNames" [disabled]="loadingSample" (click)="playLoop(sampleName)">
    {{sampleName}}
  </button>

  <mat-slider min="400" max="2000" [step]="10" [thumbLabel]="true" (change)="setControlValue($event)"></mat-slider>

  <button mat-button [disabled]="loadingSample" (click)="stopLoop('')">{{sampleFreq}}ms. Stop</button>

</div>

<!-- <div>
  <h4>Binaural, frequency {{binauralFreq}}Hz</h4>
  <button mat-button *ngFor="let sampleName of sampleNames" [disabled]="loadingSample" (click)="playBinaural(sampleName, r(20), 20)">
    {{sampleName}}
  </button>
</div> -->
