<div class="shidden">
  <div class="title row">
    <div>{{ name }} {{sampleFreq}}ms</div>
    <div class="close-button"><button mat-icon-button (click)="close(generatorStateAudio)"><mat-icon size="16">close</mat-icon></button></div>
  </div>
  <div class="row">
    <button *ngIf="!playingSample" mat-icon-button color="accent" [disabled]="loadingSample" (click)="play()"
      class="play">
      <mat-icon inline="true">play_circle_filled</mat-icon>
    </button>
    <button *ngIf="playingSample" mat-icon-button color="accent" [disabled]="loadingSample" (click)="stopLoop('')"
      class="stop">
      <mat-icon inline="true">stop_circle_filled</mat-icon>
    </button>
    <mat-slider min="400" max="2000" step="100" [thumbLabel]="true" (input)="setControlValue($event)"></mat-slider>
  </div>
  <div class="row">
    <div class="samples grid-row">
      <button class="sample-button" mat-flat-button *ngFor="let sampleName of sampleNames" [disabled]="loadingSample"
        (click)="playLoop(sampleName)">
        <mat-icon>play_arrow</mat-icon>{{sampleName}}
      </button>
    </div>
  </div>
</div>

<!-- <div>
  <button mat-button [disabled]="loadingSample" (click)="playMinus('minus')">
    Overcrowd Minus
  </button>
</div> -->

<!-- <div>
  <h4>Binaural, {{binauralFreq}}Hz</h4>
  <button mat-button *ngFor="let sampleName of sampleNames" [disabled]="loadingSample" (click)="playBinaural(sampleName, r(20), 20)">
    {{sampleName}}
  </button>  
</div> -->