:host {
  display: block;

  mat-slider {
    max-width: 200px;
  }

  .play,
  .stop {
    font-size: 40px;
    margin-right: 20px;
  }

  .samples {
    .mat-button {
      margin-left: 0;
      padding: 0 20px 0 2px;
      border-radius: 10px;
      font-size: .6rem;
      font-weight: 100;
    }
  }
}