<div class="flex-row get-ordinal">
  <div>
    <h3 class="flex-row gap-1">
      Mova
      <select (change)="handleAbetkaSelect($event)">
        <option>Ukrajinsjka</option>
        <option>Ukrajinsjka Latynka</option>
        <option>Moskaljsjka</option>
        <option>Anglijsjka</option>
      </select>
    </h3>

    <!-- Im'ja -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Slovo</mat-label>
        <input matInput [(ngModel)]="slovo" (input)="setData()" />
      </mat-form-field>
      @for (item of idnOut.idnOut; track $index;) { {{ $index }}
      <!-- <app-idn
        [idn]="idnOut.idnOut[$index]"
        (onIdnUpdate)="setData()"
      ></app-idn> -->
      }
    </div>
  </div>
</div>
