<div class="flex-row">
  <div class="flex-row">
    <div>
      <h3>Rozrahunok koljoru ta zvuku</h3>
      <!-- Im'ja -->
      <div class="flex-row">
        <mat-form-field appearance="outline">
          <mat-label>Im'ja</mat-label>
          <input matInput [(ngModel)]="nameIn.imja" (input)="setResult()" />
        </mat-form-field>
        <app-idn [idn]="nameOut.imja"></app-idn>
      </div>
      <div class="flex-row">
        <mat-form-field appearance="outline">
          <mat-label>Po-batjkovi</mat-label>
          <input
            matInput
            [(ngModel)]="nameIn.pobatjkovi"
            (input)="setResult()"
          />
        </mat-form-field>
        <app-idn [idn]="nameOut.imja"></app-idn>
      </div>
      <div class="flex-row">
        <mat-form-field appearance="outline">
          <mat-label>Prizvyšče neoficijne</mat-label>
          <input
            matInput
            [(ngModel)]="nameIn.pobatjkovi"
            (input)="setResult()"
          />
        </mat-form-field>
        <app-idn [idn]="nameOut.imja"></app-idn>
      </div>
      <div class="flex-row">
        <mat-form-field appearance="outline">
          <mat-label>Prizvyšče</mat-label>
          <input
            matInput
            [(ngModel)]="nameIn.prizvysceNeoficijne"
            (input)="setResult()"
          />
        </mat-form-field>
        <app-idn [idn]="nameOut.prizvysce"></app-idn>
      </div>
    </div>
    <div>
      <h3>2. Rozrahunok čysla</h3>
    </div>
    <div>
      <h3>3. Pidsumok</h3>
      V roboti...
    </div>
  </div>
</div>
