<div class="flex-row get-ordinal">
  <div>
    <h3>
      <mat-checkbox [checked]="useName" (change)="setUseName($event.checked)">
        Imja
      </mat-checkbox>
    </h3>

    <!-- Im'ja -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Im'ja</mat-label>
        <input matInput [(ngModel)]="nameIn.imja" (input)="setData()" />
      </mat-form-field>
      <app-idn [idn]="nameOut.imja" (onIdnUpdate)="setData()"></app-idn>
    </div>
    <!-- Po bat'kovi -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Po-batjkovi</mat-label>
        <input matInput [(ngModel)]="nameIn.pobatjkovi" (input)="setData()" />
      </mat-form-field>
      <app-idn [idn]="nameOut.pobatjkovi" (onIdnUpdate)="setData()"></app-idn>
    </div>
    <!-- prizvysceNeoficijne -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Prizvyšče neoficijne</mat-label>
        <input
          matInput
          [(ngModel)]="nameIn.prizvysceNeoficijne"
          (input)="setData()"
        />
      </mat-form-field>
      <app-idn
        [idn]="nameOut.prizvysceNeoficijne"
        (onIdnUpdate)="setData()"
      ></app-idn>
    </div>
    <!-- Prizvyšče -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Prizvyšče</mat-label>
        <input matInput [(ngModel)]="nameIn.prizvysce" (input)="setData()" />
      </mat-form-field>
      <app-idn [idn]="nameOut.prizvysce" (onIdnUpdate)="setData()"></app-idn>
    </div>
    <!-- Jadro -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Jadro Imeni</mat-label>
        <input matInput value="Jadro Imeni" disabled="" />
      </mat-form-field>
      <app-idn [idn]="nameOut.jadro" (onIdnUpdate)="setData()"></app-idn>
    </div>

    <h3>
      <mat-checkbox [checked]="useDate" (change)="setUseDate($event.checked)"
        >Data</mat-checkbox
      >
    </h3>
    <!-- Denj -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Denj</mat-label>
        <input matInput [(ngModel)]="dateIn.denj" (input)="setData()" />
      </mat-form-field>
      <app-idn [idn]="dateOut.denj" (onIdnUpdate)="setData()"></app-idn>
    </div>
    <!-- Misjacj -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Misjacj</mat-label>
        <input matInput [(ngModel)]="dateIn.misjacj" (input)="setData()" />
      </mat-form-field>
      <app-idn [idn]="dateOut.misjacj" (onIdnUpdate)="setData()"></app-idn>
    </div>
    <!-- Rik -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Rik</mat-label>
        <input matInput [(ngModel)]="dateIn.rik" (input)="setData()" />
      </mat-form-field>
      <app-idn [idn]="dateOut.rik" (onIdnUpdate)="setData()"></app-idn>
    </div>
    <!-- Jadro -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Jadro Daty</mat-label>
        <input matInput value="Jadro Daty" disabled="" />
      </mat-form-field>
      <app-idn [idn]="dateOut.jadro" (onIdnUpdate)="setData()"></app-idn>
    </div>

    <h3>Pojednannja</h3>
    <!-- Imja + Denj -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Im'ja + denj</mat-label>
        <input matInput value="im'ja + denj" disabled="" />
      </mat-form-field>
      <app-idn [idn]="pojedOut.imjaDenj" (onIdnUpdate)="setData()"></app-idn>
    </div>
    <!-- P⁠o batjkovi + masjacj -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Oo batjkovi + masjacj</mat-label>
        <input matInput value="po batjkovi + masjacj" disabled="" />
      </mat-form-field>
      <app-idn
        [idn]="pojedOut.pobatMisjacj"
        (onIdnUpdate)="setData()"
      ></app-idn>
    </div>
    <!-- Pr Neof + Pr + Rik -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Pr Neof + Pr + Rik</mat-label>
        <input matInput value="Pr Neof + Pr + Rik" disabled="" />
      </mat-form-field>
      <app-idn [idn]="pojedOut.prNeofPrRik" (onIdnUpdate)="setData()"></app-idn>
    </div>
    <!-- Jadro -->
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>Jadro</mat-label>
        <input matInput value="Jadro" disabled="" />
      </mat-form-field>
      <app-idn [idn]="pojedOut.jadro" (onIdnUpdate)="setData()"></app-idn>
    </div>

    <!-- <div>
      <h3>2. Rozrahunok čysla</h3>
    </div>
    <div>
      <h3>3. Pidsumok</h3>
      V roboti...
    </div> -->
  </div>
</div>
