<mat-accordion>
  <mat-expansion-panel
    hideToggle
    [expanded]="panelOpenState"
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Алгоритми</mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <h2>Rozrahunok koljoru ta zvuku</h2>
      <pre>
    <b>
1 - A Ї Ф
2 - Б Й Х
3 - В К Ц
4 - Г Л Ч
5 - Ґ М Ш
6 - Д Н Щ
7 - Е О Ь
8 - Є П Ю
9 - Ж Р Я
10 - З С
11 - И Т
12 - І У
</b>

Dlja slova (imeni) – vse skladajemo i dali vidnimajemo 12, poky ne otrymajemo čyslo  vid 1 do 12.
Dlja daty – vid cilogo čysla vidnimajemo 12, poky ne otrymajemo čyslo  vid 1 do 12. 

<h3>Pryklad:</h3>Ростислав
9+7+10+11+11+10+4+1+3=66. 
66-(12×5)=6 (blakytnyj kolir/nota fa) 

<em>Avtomatyčnyj rezuljtat: {{example1}} - {{ordinalByWord(example1)}}</em>

24.08.1991 r.
24-12=12 (bilyj/si); 
8 (fioletovyj/solj); 
1991-(12×165)=11 (sribnyj/lja#); 
suma (seredynka): 12+8+11=31. 31-(12×2)=7 (synij/fa#)

<em>Avtomatyčnyj rezuljtat: {{ example1date }} - {{ ordinalByDate(example1date) }}</em>

<img src="assets/images/vibrascope/abetka-ua-12m.jpeg" width="400" />

<h2>2. Rozrahunok čysla</h2><b>1 - А З О Ч
2 - Б И П Ш
3 - В І Р Щ
4 - Г Ї С Ь
5 - Ґ Й Т Ю
6 - Д К У Я 
7 - Е Л Ф
8 - Є М Х
9 - Ж Н Ц</b>

Vse skladajemo, poky ne otrymajemo čyslo vid 1 do 9. 

<h3>Pryklad:</h3>Ростислав
3+1+4+5+2+4+7+1+3=30. 
3+0=3. 

<em>Avtomatyčnyj rezuljtat: {{example2}} - {{cardinalByWord(example2)}}</em>

24.08.1991 r.
2+4=6; 
8; 
1+9+9+1=20. 2+0=2. 
summa (seredynka): 6+8+2=16. 1+6=7

<em>Avtomatyčnyj rezuljtat: {{example2date}} - {{cardinalByDate(example2date)}}</em>

<img src="assets/images/vibrascope/abetka-ua-9m.jpeg" width="400" />

<h2>3. Pidsumok</h2>

Ростислав: blakytna 3 (trijka); fa 

denj 24: bila 6 (šistj); si
misjacj 08: fioletova 8 (visim);solj
rik 1991: sribna 2 (dvijka); lja#
seredyna: synja 7 (sim); fa#
</pre>
    </div>
  </mat-expansion-panel>
</mat-accordion>
