<mat-accordion>
  <mat-expansion-panel
    hideToggle
    [expanded]="panelOpenState()"
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>{{ i18n.strings().abetka.panelTitle }}</mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <h2>{{ i18n.strings().abetka.h2ColorSound }}</h2>
      <pre>
    <b>
1 - A Ї Ф
2 - Б Й Х
3 - В К Ц
4 - Г Л Ч
5 - Ґ М Ш
6 - Д Н Щ
7 - Е О Ь
8 - Є П Ю
9 - Ж Р Я
10 - З С
11 - И Т
12 - І У
</b>

{{ i18n.strings().abetka.ruleForWord }}

<h3>{{ i18n.strings().abetka.labelPryklad }}</h3>Ростислав
9+7+10+11+11+10+4+1+3=66.
{{ i18n.strings().abetka.exName1result }}

<em>{{ i18n.strings().abetka.autoResult }} {{example1}} - {{ordinalByWord(abetkaByName("Ukrajinsjka"), example1)}}</em>

24.08.1991 r.
{{ i18n.strings().abetka.exDate1result }}

<em>{{ i18n.strings().abetka.autoResult }} {{ example1date }} - {{ ordinalByDate(example1date) }}</em>

<img src="assets/images/vibrascope/abetka-ua-12m.jpeg" width="400" />

<h2>{{ i18n.strings().abetka.h2Number }}</h2><b>1 - А З О Ч
2 - Б И П Ш
3 - В І Р Щ
4 - Г Ї С Ь
5 - Ґ Й Т Ю
6 - Д К У Я
7 - Е Л Ф
8 - Є М Х
9 - Ж Н Ц</b>

{{ i18n.strings().abetka.ruleForNumber }}

<h3>{{ i18n.strings().abetka.labelPryklad }}</h3>Ростислав
3+1+4+5+2+4+7+1+3=30.
3+0=3.

<em>{{ i18n.strings().abetka.autoResult }} {{example2}} - {{cardinalByWord(abetkaByName("Ukrajinsjka"), example2)}}</em>

24.08.1991 r.
2+4=6;
8;
1+9+9+1=20. 2+0=2.
{{ i18n.strings().abetka.exDate2summary }}

<em>{{ i18n.strings().abetka.autoResult }} {{example2date}} - {{cardinalByDate(example2date)}}</em>

<img src="assets/images/vibrascope/abetka-ua-9m.jpeg" width="400" />

<h2>{{ i18n.strings().abetka.h2Summary }}</h2>{{ i18n.strings().abetka.summaryResult }}
</pre>
      <h3>{{ i18n.strings().abetka.h3ComboTitle }}</h3>
      <pre>
{{ i18n.strings().abetka.comboRules }}
</pre
      >

      <h3>{{ i18n.strings().abetka.h3ExColorSound }}</h3>
      <pre>
{{ i18n.strings().abetka.exColorSound }}
</pre
      >

      <h3>{{ i18n.strings().abetka.h3ExNumber }}</h3>
      <pre>
{{ i18n.strings().abetka.exNumber }}
</pre
      >

      <h3>
        {{ i18n.strings().abetka.ps }}
      </h3>
      <pre>
{{ i18n.strings().abetka.exPs }}
</pre
      >
    </div>

    <div>
      <p>{{ i18n.strings().abetka.colorNoteTitle }}</p>
      <pre>
{{ i18n.strings().abetka.colorNoteTable }}
</pre
      >

      <pre>
{{ i18n.strings().abetka.rozpakovkaBlock }}
</pre
      >

      <p>{{ i18n.strings().abetka.daliTitle }}</p>
      <pre>
{{ i18n.strings().abetka.daliItems }}
- <a [routerLink]="['tonetest']">tone test</a>, <a [routerLink]="['../']">sound flow</a>
</pre>
    </div>
  </mat-expansion-panel>
</mat-accordion>
