<mat-accordion>
  <mat-expansion-panel
    hideToggle
    [expanded]="panelOpenState()"
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Algorytmy</mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <h2>Rozrahunok koljoru ta zvuku</h2>
      <pre>
    <b>
1 - A Ї Ф
2 - Б Й Х
3 - В К Ц
4 - Г Л Ч
5 - Ґ М Ш
6 - Д Н Щ
7 - Е О Ь
8 - Є П Ю
9 - Ж Р Я
10 - З С
11 - И Т
12 - І У
</b>

Dlja slova (imeni) – vse skladajemo i dali vidnimajemo 12, poky ne otrymajemo čyslo  vid 1 do 12.
Dlja daty – vid cilogo čysla vidnimajemo 12, poky ne otrymajemo čyslo  vid 1 do 12. 

<h3>Pryklad:</h3>Ростислав
9+7+10+11+11+10+4+1+3=66. 
66-(12×5)=6 (blakytnyj kolir/nota fa) 

<em>Avtomatyčnyj rezuljtat: {{example1}} - {{ordinalByWord(abetkaByName("Ukrajinsjka"), example1)}}</em>

24.08.1991 r.
24-12=12 (bilyj/si); 
8 (fioletovyj/solj); 
1991-(12×165)=11 (sribnyj/lja#); 
suma (seredynka): 12+8+11=31. 31-(12×2)=7 (synij/fa#)

<em>Avtomatyčnyj rezuljtat: {{ example1date }} - {{ ordinalByDate(example1date) }}</em>

<img src="assets/images/vibrascope/abetka-ua-12m.jpeg" width="400" />

<h2>2. Rozrahunok čysla</h2><b>1 - А З О Ч
2 - Б И П Ш
3 - В І Р Щ
4 - Г Ї С Ь
5 - Ґ Й Т Ю
6 - Д К У Я 
7 - Е Л Ф
8 - Є М Х
9 - Ж Н Ц</b>

Vse skladajemo, poky ne otrymajemo čyslo vid 1 do 9. 

<h3>Pryklad:</h3>Ростислав
3+1+4+5+2+4+7+1+3=30.
3+0=3. 

<em>Avtomatyčnyj rezuljtat: {{example2}} - {{cardinalByWord(abetkaByName("Ukrajinsjka"), example2)}}</em>

24.08.1991 r.
2+4=6;
8; 
1+9+9+1=20. 2+0=2.
summa (seredynka): 6+8+2=16. 1+6=7

<em>Avtomatyčnyj rezuljtat: {{example2date}} - {{cardinalByDate(example2date)}}</em>

<img src="assets/images/vibrascope/abetka-ua-9m.jpeg" width="400" />

<h2>3. Pidsumok</h2>Ростислав: blakytna 3 (trijka); fa 

denj 24: bila 6 (šistj); si
misjacj 08: fioletova 8 (visim);solj
rik 1991: sribna 2 (dvijka); lja#
seredyna: synja 7 (sim); fa#
</pre>
      <h3>Rozrahunok pojednannja imeni ta daty narodžennja</h3>
      <pre>
1. vlasne im'ja + denj narodžennja
2. po batjkovi + masjacj narodžennja
3. prizvyšče neoficijne + prizvyšče + rik narodžennja
4. jadro = summa pokaznykiv 
</pre
      >

      <h3>Pryklad (kolir/zvuk)</h3>
      <pre>
1. 6 (blakytnyj/fa) + 2 (červonyj/do#) = 8 (fioletovyj/solj)
2. 6 (blakytnyj/fa) + 11 (sribnyj/lja#) = 17. 17 - 12 = 5 (zelenyj/mi)
3. 6 (blakytnyj/fa) + 9 (zolotyj/solj#) + 10 (perlynovyj/lja) = 25. 25 - (12×2) = 1 (čornyj/do)
4. 8 (fioletovyj/solj) + 5 (zelenyj/mi) + 1 (čornyj/do) = 14. 14 - 12 = 2 (červonyj/do#) 
</pre
      >

      <h3>Pryklad (čyslo)</h3>
      <pre>
1. 3+8=11. 1+1=2
2. 6+2=8
3. 3+9+7=19. 1+9=10. 1+0=1
4. 2+8+1=11. 1+1=2 
</pre
      >

      <h3>
        P.S. Jak variant, №4 možna skladaty naprjamu vid iznačaljnyh pokaznykiv
        jadra:
      </h3>
      <pre>
4. 3 (pomarančevyj/re) + 11 (sribnyj/lja#) = 14. 14 - 12 = 2 (červonyj/do#)
 3+8=11. 1+1=2  
</pre
      >
    </div>

    <div>
      <p>KOLIR – NOTA</p>
      <pre>
1 •⁠ čornyй — do
2 •⁠ červonyй – do#
3 •⁠ pomarančevyй – re
4 •⁠ žovtyй – re#
5 •⁠ zelenyй – mi
6 •⁠ blakytnyй – fa
7 •⁠ syniй – fa#
8 •⁠ fioletovyй – solj
9 •⁠ zolotyй – solj#
10 •⁠ perlynovyй – lja
11 •⁠ sribnyй – lja#
12 •⁠ bilyй – si

</pre
      >
      <p>Dali</p>
      <pre>
- nalaštuvannja koljoriv
- kulja - obʼjekt, ščo nese na sobi parametry i zvuku takoje (častota, gučnitj, dovžyna)
- mitka vysoty i potočnoji gučnosti na kuli
- pry zitknenni menšyj ne zvučytj
- zaležnistj gučnosti vid rozmiru
- pry zitknenni menšyj rozdiljajetjsja
- <a [routerLink]="['tonetest']">tone test</a>, <a [routerLink]="['../']">sound flow</a>
</pre>
    </div>
  </mat-expansion-panel>
</mat-accordion>
