<div class="container">
  <p><i>TODO: Додати введення базових термінів</i></p>
  <div class="senses">
    <div class="sense-body" *ngFor="let combo of combinations; let i = index" >
      {{i}}. {{ combo }}
    </div>
  </div>

  <!-- <div class="senses">
    <div class="sense-body" *ngFor="let parsedConfig of parsedConfigs; let i = index" >
      {{i}}. {{ parsedConfig }}
    </div>
  </div> -->
  <!-- <div class="axes">
    <div class="axe-body">
      1
      <div *ngFor="let item of tModern" class="axe-item" >
        {{item}}
      </div>
    </div>
    <div class="axe-body">
      2
      <div *ngFor="let item of tArchaic" class="axe-item" >
        {{item}}
      </div>
    </div>
    <div class="axe-body">
      3
      <div *ngFor="let item of tCraft" class="axe-item" >
        {{item}}
      </div>
    </div>
    <div class="axe-body">
      4
      <div *ngFor="let item of tIdea" class="axe-item" >
        {{item}}
      </div>
    </div>
  </div> -->

</div>

