:host {
    display: block;
}

.menu {
    margin: 8px;
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2em;
}

.menu-item {
    display: inline-grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
}

.icon {
    font-size: 24px;
}
