<nav class="menu">
    <div class="menu-item">
        <a href="/generator"><mat-icon class="icon">architecture</mat-icon></a>
        <span><a href="/generator">generator</a> | <a href="/generator/anagrammator">anagrammator</a> | <a href="/generator/axes">axes</a> | <a href="/latynizator">latynize</a></span>
    </div>

    <div class="menu-item">
        <a href="/compass"><mat-icon class="icon">explore</mat-icon></a>
        <a href="/compass">compass</a>
    </div>
</nav>

<router-outlet></router-outlet>

