:host {

    .settings {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 20px;
    }

    .wrapper-button {
        border-radius: 0;
        width: 100%;
        padding-bottom: 300px;
    }

    .pre-poetry {
        text-align: left;
        padding-left: 150px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 50px;
        letter-spacing: -1px;
        color: #024;
        font-weight: 200;
        &:hover {
            color: #fff;
            background-color: #024;
        }

        &::first-letter {
            text-transform: capitalize;  
        }

    }

    // OOPO
    .line {
        display: flex;
        cursor: pointer;
        padding-left: 30px;
        padding: 5px;
        border-bottom: transparent 1px dotted;
        line-height: 0px;
        &:hover {
            // border-bottom: #024 1px dotted;
            background-color: #324;
            color: #447;
        }
    }
    
    .word {
        cursor: pointer;
        padding: 2px;
        font-size: 50px;
        line-height: 60px;
        border-bottom: transparent 1px dashed;        
        &:hover {
            background-color: #fc0;
            color: #44e;
        }
    }
}
