:host {

    .settings {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 20px;
    }

    .wrapper-button {
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0;
        width: 100%;
        &:hover {
            border: 1px dashed #dedede;
            background-color: #fafafa;
        }
    }

    .pre-poetry {
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
        font-family: Helvetica, Arial, sans-serif;
        letter-spacing: -1px;
        color: #024;
        font-weight: 200;
        &:hover {
            color: #135;
        }

        &::first-letter {
            text-transform: capitalize;  
        }

    }

    .line {
        display: flex;
        cursor: pointer;
        padding-left: 30px;
        padding: 5px;
        border-bottom: transparent 1px dotted;
        &:hover {
            border-bottom: #bbb 1px dashed;
            // background-color: #eee;
            color: #000;
        }
    }
    
    .word {
        cursor: pointer;
        font-size: 30px;
        line-height: 50px;
        padding: 0;
        border: transparent 1px dashed;
        &:hover {
            border-right: #aaa 1px dotted;
            border-bottom: #aaa 1px dotted;
            background-color: #ddd;
            color: #000;
        }
    }
}
