<button mat-button color="accent" (click)="generate()" class="wrapper-button pre-poetry" [ngStyle]="{ fontSize: fontSize+'px' } ">
    <div class="strophae" *ngFor="let strophae of objectOrientedPoetry.strophae">
        <div class="line" *ngFor="let line of strophae.lines" (click)="reline(strophae.lines, line, $event)">
            <div class="word" (click)="reword(line.words, word, $event)" *ngFor="let word of line.words"
            [ngStyle]="{ backgroundColor: 'rgba('+color.r+', '+color.g+', '+color.b+', 1)' }"
            >{{postProcess(word)}}&nbsp;</div>
        </div>
    </div>
</button>
<button class="copy-button" mat-button (click)="copyText($event)">Copy</button>
<div class="settings">
    <!-- <div class="settings">
        <input mat-input type="checkbox" [formControl]="latynizeControl" id="cb-latynize" />
        <label for="cb-latynize">Latynize</label>
    </div> -->
    <div>
        <mat-form-field>
            <mat-label>Slovnyk: {{ dictionary.name }}, {{ dictionary.words.length }}</mat-label>
            <mat-select [formControl]="dictionaryControl">
                <mat-option *ngFor="let dictionary of getDictionaries()" [value]="dictionary">
                    {{dictionary.name}}, {{dictionary.words.length}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Ryma: {{ rhyme.name }}: {{ rhyme.value }}</mat-label>
            <mat-select [formControl]="rhymeControl">
                <mat-option *ngFor="let rhyme of getRhymes()" [value]="rhyme">
                    {{rhyme.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <div>
            <mat-form-field>
                <mat-label>Mode: {{ poetryService.getTimeline().mode.name }}</mat-label>
                <mat-select [formControl]="modeControl">
                    <mat-option *ngFor="let mode of poetryService.getTimeline().modes" [value]="mode">
                        {{mode.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div>
    <mat-label>{{ poetryService.getTimeline().mode.name }} mode, {{ poetryService.getTimeline().mode.description }}</mat-label>
</div>
<div>
    <div *ngFor="let connection of connections">{{connection.source}}&nbsp;&gt;&nbsp;{{connection.target}}</div>
</div>    
