:host {

    .settings {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 20px;
    }

    .wrapper-button {
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0;
        width: 100%;
        &:hover {
            border: 1px dashed #dedede;
            background-color: #fafafa;
        }
    }

    .pre-poetry {
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
        font-family: Helvetica, Arial, sans-serif;
        letter-spacing: -1px;
        color: #024;
        font-weight: 200;
        &:hover {
            color: #135;
        }

        &::first-letter {
            text-transform: capitalize;  
        }

    }

    .line {
        display: flex;
        cursor: pointer;
        padding-left: 30px;
        padding: 5px;
        border-bottom: transparent 1px dotted;
        line-height: 0px;
        &:hover {
            border-bottom: #024 1px dotted;
            background-color: #eee;
            color: #000;
        }
    }
    
    .word {
        cursor: pointer;
        padding: 2px;
        font-size: 50px;
        line-height: 60px;
        border-bottom: transparent 1px dashed;        
        &:hover {
            background-color: #ddd;
            color: #000;
        }
    }
}
