:host {
  display: block;

  .container {
    margin: 1em;

    font-size: 30px;

    input {
      font-size: 30px;
      margin: 0.5em 0;
    }

    pre {
      margin-top: 0;
      font-size: 80px;
      line-height: 90px;
      font-family: Monaco, 'Courier New', Courier, monospace;
    }
  }
}
