<div class="container">
  <h1>Anagramator</h1>
  <div>Enter string to make anagram of:</div>
  <input type="text" (keyup)="setSourceString($event)" value="WORD">
  <div>Show only results which have this sub-string:</div>
  <input type="text" (keyup)="setFilter($event)">
  <div>
    <label><input type="checkbox" (change)="toggleShuffling($event)" checked>Shuffle results</label>
  </div>

  <div class="copyable" id="results">
    <h3>Results: {{anagrams?.length}} total, {{ filtered.length }} after filtering. </h3>
    <div class="data-value">
      <pre>{{formattedResult}}</pre>
    </div>
    <span class="copied">copied</span>
    <span class="copy" (click)="copyResults('results')"></span>
  </div>

</div>