<div class="container">
  <h1>Анаграматор</h1>
  <mat-form-field class="input word" appearance="outline">
    <mat-label>Зробити анаграму з:</mat-label>
    <input type="text" matInput value="Слово" (keyup)="setSourceString($event)">
  </mat-form-field>
  <div>Фільтр результатів:</div>
  <div class="filters">
    <mat-form-field class="input start-with" (keyup)="setStartWith($event)" appearance="outline">
      <mat-label>Починати з:</mat-label>
      <input type="text" matInput placeholder="">
    </mat-form-field>
    <mat-form-field class="input have-part" (keyup)="setHasPart($event)" appearance="outline">
      <mat-label>Включити:</mat-label>
      <input type="text" matInput placeholder="">
    </mat-form-field>
    <mat-form-field class="input end-with" (keyup)="setEndWith($event)" appearance="outline">
      <mat-label>Закінчувати з:</mat-label>
      <input type="text" matInput placeholder="">
    </mat-form-field>
  </div>
  <div>
    <label class="chb"><input type="checkbox" (change)="toggleCapitalizeOutput($event)" [checked]="capitalizeOutput"><span>З великої</span></label>
    <label class="chb"><input type="checkbox" (change)="toggleShuffling($event)" [checked]="shuffle"><span>Випадково</span></label>
    <label class="chb"><input type="checkbox" (change)="toggleUseRuteniaFont($event)" [checked]="toUseRutenia"><span>Рутенією</span></label>
  </div>
  <div class="copyable" id="results">
    <h3>
      <span>Результати: {{anagrams?.length}} усього, {{ filtered.length }} після фільтру.</span>
      <span class="copy" (click)="copyResults('results')"></span>
      <span class="copied">copied</span>
    </h3>
    <div class="data-value">
      <pre id="result-render">{{formattedResult}}</pre>
    </div>
  </div>
</div>