:host {
  display: block;

  h1 {
    font-size: 40px;
  }

  pre#result-render {
    margin-top: 0;
    font-size: 50px;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .rootenia {
    font-family: var(--rutenia-akcidenta-font) !important;
  }

  .container {
    margin: 1em;

    .inputs {
      display: grid;
      grid-template-columns: 30% 17%;
      gap: 3%;
    }

    .filters {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 3%;
    }

    .chb {
      display: inline-block;
      span {
        line-height: 1.1;
        margin-right: 0.5rem;
        vertical-align: super;
      }
    }

    input {
      font-size: 30px;

      &[type=checkbox] {
        width: .7em;
        height: .7em;
        margin-right: .2em;
      }
    }
  }

  .axes {
    font-size: 2em;
    margin-bottom: 2em;
  }

  .axe-body {
    margin-top: 1em;
  }

  .axe-item {
    line-height: normal;
  }

  /* Copyable */

  .copyable {
    position: relative;
    margin-top: 1rem;
  }

  .copyable h3 {
      line-height: 1.8rem;
      font-size: 1.3rem;
      margin-bottom: .7rem;
      display: flex;
  }

  .data-value {
      font-size: .96rem;
  }

  .copy {
      background-color: var(--clr-theme-bg);
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('../../../../assets/images/copy-icon.svg');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 16px;
      padding: 6px;
      margin-left: 8px;
  }

  .copy:hover {
      background-color: var(--clr-theme-bg);
      cursor: pointer;
      box-shadow: 2px 2px 8px var(--clr-theme-bg);
  }

  .copied {
      opacity: 0;
      font-size: .7rem;
      font-weight: 500;
      color: var(--clr-theme-bg);
      top: -20px;
  }

  .show-success {
      animation:
          40ms ease-in slidein,
          1s ease-in 40ms slideout;
  }

  @keyframes slidein {
      from {
          transform: translateY(0vh);
          opacity: 0;
      }
      to {
          transform: translateY(0vh);
          opacity: 1;
      }
  }

  @keyframes slideout {    
      from {
          transform: translateY(0vh);
          opacity: 1;
      }
      to {
          transform: translateY(-5vh);
          opacity: 0;
      }
  }
  /* End: Copyable */

}
