:host {
  display: block;

  .container {
    margin: 1em;

    &* {
      font-size: 30px;
    }

    input {
      font-size: 30px;
      margin: 0.5em 0;

      &[type=checkbox] {
        width: .7em;
        height: .7em;
        margin-right: .2em;
      }
    }

    pre {
      margin-top: 0;
      font-size: 80px;
      line-height: 90px;
      font-family: var(--main-font);
    }
  }

  .axes {
    font-size: 2em;
    margin-bottom: 2em;
  }

  .axe-body {
    margin-top: 1em;
  }

  .axe-item {
    line-height: normal;
  }
}
