:host {
    .pre-poetry, p {
        white-space: pre-line;
        margin-top: 14px;
        padding: 12px;
        border: 1px solid #eee;
        font-family: var(--mono-font);
        font-size: 1.6em;
        line-height: 1.5em;
        color: #222;
    }
}
