:host {
    .pre-poetry {
        padding: 0;
        border: 1px solid #eee;
        font-family: var(--secondary-font);
        text-transform: capitalize;
        font-size: 1.1em;
        color: #222;
    }
}
