:host {
    display: block;
    margin: 1em;
    
    .pre-poetry {
        padding: 0;
        border: 1px solid #eee;
        font-family: var(--secondary-font);
        text-transform: capitalize;
        font-size: 2.2em;
        line-height: 1.2;
        color: #222;
    }
}
