<h1>monotext</h1>

<div class="grid-wrap">
    
    <mat-form-field class="full-height" appearance="fill"> 
        <mat-label>Enter text to convert</mat-label>
        <textarea matInput (keyup)="setText($event)" class="textarea-input"></textarea>
    </mat-form-field>

    <div class="result">{{result}}</div>

    <div class="flags">
        <mat-checkbox [(ngModel)]="flags.monospace" (change)="render()">Monospace</mat-checkbox>
        <mat-checkbox [(ngModel)]="flags.script" (change)="render()">Script</mat-checkbox>
        <mat-checkbox [(ngModel)]="flags.fraktur" (change)="render()">Fraktur</mat-checkbox>
        <mat-checkbox [(ngModel)]="flags.double" (change)="render()">Double</mat-checkbox>
        <mat-checkbox [(ngModel)]="flags.sans" (change)="render()">Sans</mat-checkbox>
        <mat-checkbox [(ngModel)]="flags.greek" (change)="render()">Greek</mat-checkbox>
    </div>
    
    <div class="flags2">
        <mat-checkbox [(ngModel)]="flags2.bold" (change)="render()">Bold</mat-checkbox>
        <mat-checkbox [(ngModel)]="flags2.italic" (change)="render()">Italic</mat-checkbox>
        <mat-checkbox [(ngModel)]="flags2.underline" (change)="render()">Underline</mat-checkbox>
        <mat-checkbox [(ngModel)]="flags2.strike" (change)="render()">Strike</mat-checkbox>
    </div>
    
</div>

<pre>---- Monotext Help ----
Converts text to a unicode variant

Usage:
    monotext [flags] [text]

Flags:
    Types:
    -monospace -m   Monospace text (default)
    -script    -c   Script (!)
    -fraktur   -f   Fraktur (!)
    -double    -d   Double-struck (!)
    -sans      -s   Sans-serif
    -greek     -g   Greek (characters might not yield their respective greek version)
                    This doesn't have a regular version!

    (!): Some characters do not exist in the regular version of this set (i.e. without bold/italic)

    Modifiers:
    -bold      -b   Bold
        Can be used with: script, fraktur, sans and greek
        Serif is used when no type is specified
    -italic    -i   Italic
        Can be used with: sans and greek
        Serif is used when no type is specified
    -underline -u   Underline
        Can be used with any
    -strike    -k   Strike-through
        Can be used with any
</pre>