<div class="values-renderer">
  <h1>Отримуємо сюжети з усіх можливих комбінацій цінностей</h1>
  <p>TODO: тут буде форма введення осей та цінностей</p>
  <p>TODO: поєднувати цінності різними сполучниками: І, АБО, НЕ, І НЕ, АБО НЕ, НЕ</p>
  <h2>1. Осі. {{axes.length}} усього, в кожній по {{axes[0].length}} цінності</h2>
  <div class="grid-wrap">
    <div class="senses">
      <div class="sense-body" *ngFor="let values of axes; let g = index" >
        <span *ngFor="let value of values; let h = index" [matTooltip]="'Вісь ' + g + ', цінність ' + h + ''" matTooltipPosition="after" class="value" [class]="value.class" >{{value.label}}</span>
      </div>
      <ol>
        <li *ngFor="let values of axes">
          <ul>
            <li *ngFor="let value of values">
              {{value.label}}
            </li>
          </ul>
        </li>
      </ol>    
    </div>
    <!-- <pre>{{axes | json}}</pre> -->
  </div>
  
  <h2>2. Набори. З кожної осі беремо по цінності і поєднуємо в набори, усього їх {{sets.length}}</h2>
  <div class="grid-wrap">
    <div class="senses">
      <div class="sense-body" *ngFor="let values of sets; let i = index" >
        <span *ngFor="let value of values; let j = index" class="value" [class]="value.class" >{{value.label}}</span>
      </div>
    </div>
    <!-- [matTooltip]="'Набір ' + i + ', цінність ' + j + ''" matTooltipPosition="after"  -->
    <!-- <pre>{{sets | json}}</pre> -->
  </div>

  <h2>3. Пріоритети. Усі можливі пермутації цінностей в наборах. Усього {{priorities.length}}</h2>
  <p>Перебираємо порядок самих осей всередині кожного набору</p>

  <div class="grid-wrap">
    <div class="senses">
      <div class="sense-body" *ngFor="let values of priorities; let k = index" >
        <span *ngFor="let value of values; let l = index" class="value" [class]="value.class" >{{value.label}}</span>
      </div>
    </div>
    <!-- [matTooltip]="'Сюжет ' + k + ', пріоритет ' + l + ''" matTooltipPosition="after" -->
    <!-- <pre>{{priorities | json}}</pre> -->
  </div>
  
</div>

