.values-renderer {
  display: block;
  margin: 1em;

  &* {
    font-size: 30px;
  }
  p {
    font-family: var(--mono-font);
  }

  .axe-1 {
    background-color: #dd5522;
  }

  .axe-2 {
    background-color: #ffeedd;
  }

  .val-1 {
    color: #552233;
  }

  .val-2 {
    color: #332288;
  }

  input {
    font-size: 30px;
    margin: 0.5em 0;

    &[type=checkbox] {
      width: .7em;
      height: .7em;
      margin-right: .2em;
    }
  }

  pre {
    margin-top: 0;
    font-size: 80px;
    line-height: 90px;
    font-family: var(--main-font);
  }

}
