.values-renderer {
  display: block;
  margin: 1em;

  &* {
    font-size: 30px;
  }
  p {
    font-family: var(--mono-font);
  }

  .axe-1 {
    background-color: #bbb;
  }

  .axe-2 {
    background-color: #ccc;
  }

  .axe-3 {
    background-color: #ddd;
  }

  .axe-4 {
    background-color: #eee;
  }

  .value {
    display: inline-block;
    text-align: center;
    padding: 2px 4px;
    width: 100px;
    margin-bottom: 1px;
    margin-right: 1px;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: default;

    &:hover {
      border-radius: 10px;
      border-color: #888888;
    }
  }

  .val-1 {
    color: #000000;
  }

  .val-2 {
    color: #bb0000;
  }

  .val-3 {
    color: #009900;
  }

  input {
    font-size: 30px;
    margin: 0.5em 0;

    &[type=checkbox] {
      width: .7em;
      height: .7em;
      margin-right: .2em;
    }
  }

  pre {
    margin-top: 0;
    font-size: 80px;
    line-height: 90px;
    font-family: var(--main-font);
  }

}
