<div class="values-renderer">
  <h1>Генеруємо всі можливі пріоритети з наборів цінностей</h1>
  <p>TODO: тут буде форма введення осей та цінностей</p>
  <mat-button-toggle-group name="displayMode" aria-label="Display Mode" (change)="onDisplayModeChange($event)">
    <mat-button-toggle value="grid">Сітка</mat-button-toggle>
    <mat-button-toggle value="sentences">Речення</mat-button-toggle>
  </mat-button-toggle-group>  
  <mat-button-toggle-group name="axe" aria-label="Axes" (change)="onAxesChange($event)">
    <mat-button-toggle value="axesLibrary">Сюжети</mat-button-toggle>
    <mat-button-toggle value="axesPoetry">Поезія</mat-button-toggle>
  </mat-button-toggle-group>  
  <h2>Крок 1. Осі та цінності: {{axes.length}} осі, в кожній по {{axes[0].length}} цінності</h2>
  <div class="grid-wrap">
    <div class="senses">
      <div class="sense-body" *ngFor="let values of axes; let g = index" >
        <span [class]="'row-id ' + displayMode">{{g + 1}}. </span>
        <span *ngFor="let value of values; let h = index" [matTooltip]="'Вісь ' + g + ', цінність ' + h + ''" matTooltipPosition="after" [class]="'value ' + value.class + ' ' + displayMode">{{value.label}}</span>
      </div>
      <!-- <ol>
        <li *ngFor="let values of axes">
          <ul>
            <li *ngFor="let value of values">
              {{value.label}}
            </li>
          </ul>
        </li>
      </ol> -->
    </div>
    <!-- <pre>{{axes | json}}</pre> -->
  </div>
  
  <h2>Крок 2. Комбінації: з кожної осі беремо по цінності, комбінуємо в набори, усього їх {{sets.length}}</h2>
  <div class="grid-wrap">
    <div class="senses">
      <div class="sense-body" *ngFor="let values of sets; let i = index" >
        <span [class]="'row-id ' + displayMode">{{i + 1}}. </span>
        <span *ngFor="let value of values; let j = index" [class]="'value ' + value.class + ' ' + displayMode" >{{value.label}}</span>
      </div>
    </div>
    <!-- [matTooltip]="'Набір ' + i + ', цінність ' + j + ''" matTooltipPosition="after"  -->
    <!-- <pre>{{sets | json}}</pre> -->
  </div>

  <h2>Крок 3. Пріоритети. Усі можливі пермутації цінностей в наборах. Усього {{priorities.length}}</h2>
  <p>Перебираємо порядок самих осей всередині кожного набору</p>

  <div class="grid-wrap">
    <div class="senses">
      <div class="sense-body" *ngFor="let values of priorities; let k = index" >
        <span class="'row-id ' + displayMode">{{k + 1}}. </span>
        <span *ngFor="let value of values; let l = index" [class]="'value ' + value.class + ' ' + displayMode" >{{value.label}}</span>
      </div>
    </div>
    <!-- [matTooltip]="'Сюжет ' + k + ', пріоритет ' + l + ''" matTooltipPosition="after" -->
    <!-- <pre>{{priorities | json}}</pre> -->
  </div>
  
  <h2>Roadmap</h2>
  <p>TODO: поєднувати цінності різними сполучниками: І, АБО, НЕ, І НЕ, АБО НЕ, НЕ</p>

</div>

