.values-renderer {
  display: block;
  margin: 1em;

  p {
    font-family: var(--mono-font);
  }

  h2 {
    margin-top: 2em;
  }

  .grid-wrap {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }

  .value {
    display: inline-block;
    text-align: center;
    padding: 2px 4px;
    width: 100px;
    margin-bottom: 1px;
    margin-right: 1px;
    border: 1px solid transparent;
    border-radius: 0px;
    border-bottom-width: 1px;
    cursor: default;

    &:hover {
      border-radius: 10px;
      border-bottom-color: #888888;
    }
  }

  .axe-1 {
    background-color: #ddd;
    border-bottom-color: #ccc;
  }

  .axe-2 {
    background-color: #eaeaea;
    border-bottom-color: #dadada;
  }

  .axe-3 {
    background-color: #eee;
    border-bottom-color: #ddd;
  }

  .axe-4 {
    background-color: #f6f6f6;
    border-bottom-color: #e6e6e6;
  }

  .val-1 {
    color: #990000;
  }

  .val-2 {
    color: #007700;
  }

  .val-3 {
    color: #000099;
  }

  input {
    font-size: 30px;
    margin: 0.5em 0;

    &[type=checkbox] {
      width: .7em;
      height: .7em;
      margin-right: .2em;
    }
  }

  pre {
    margin-top: 0;
    font-size: 12px;
    line-height: 14px;
    font-family: var(--mono-font);
  }

  .row-id {
    padding-right: 1em;
    text-align: right;
    display: inline-block;
    width: 3em;
  }
}
