@font-face {
    font-family: 'RuteniaAkcidentaRegular';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/RuteniaAkcidenta-Regular.woff2') format('woff2');
    src: url('assets/fonts/RuteniaAkcidenta-Regular.woff') format('woff');
}

:root {
    --main-font: Roboto, "Helvetica Neue", sans-serif;
    // --main-font: "IM Fell English" !important;
    --secondary-font: Roboto, "Helvetica Neue", sans-serif;
    --mono-font: Monaco, 'Courier New', Courier, monospace;
    --rutenia-akcidenta-font: "RuteniaAkcidentaRegular", 'Courier New', Courier, monospace;
    --clr-theme-bg: #ffcc00;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: var(--main-font);
}

h1 {
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: var(--main-font);
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: var(--main-font);
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.app-footer {
    padding: 0.3rem 0.5rem;
}

.flex-row {
    display: flex;
}

.items-center {
    align-items: center;
}

.m-1 {
    margin: 1rem;
}


.ml-1 {
    margin-left: 1rem;
}

.gap-1 {
    gap: 1rem;
}

.text-sm {
    font-size: .7rem;
}

.p-1 {
    padding: .1rem;
}